/**
 * Copyright (C) 2020 Herobone & Aynril
 * 
 * This file is part of Spot The Verse.
 * 
 * Spot The Verse is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Spot The Verse is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Spot The Verse.  If not, see <http://www.gnu.org/licenses/>.
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #333;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.logo {
  font-size: calc(3vh + 1.5vw);
  font-family: "TrueCrimes";
  margin: auto;
}

.logo img {
  width: calc(3vh + 1.5vw);
  filter: invert(1);
  margin: auto;
}

.logo:hover img {
  filter: invert(0);
}

.selected_playlist {
  font-size: 2vh;
  margin: auto;
  margin-top: 1.3vh;
}

/** Background **/

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(6em) opacity(0.6);
  position: absolute;
  z-index: -10;
}

.main-wrapper {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

.timebar {
  align-items: center;
  display: flex;
  justify-content: center;
}

.playlist-entry {
  background-color: #000000af;
  border: 10px solid #000000;
}

.playlist-entry:hover {
  background-color: #000000;
  cursor: pointer;
}

.playlist-img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.playlist-img img {
  border-radius: 50%;
  width: 9vw;
  height: 9vw;
  margin: auto;
  padding: 10%;
}

.playlist-side {
  font-size: 1.5vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px
}

.playlist-name {
  font-weight: bold;
}

.playlist-length {
  font-size: 0.8em;
  font-style: italic;
}

@media (max-width:992px) {
  .playlist-img {
    width: 20vw;
  }

  .playlist-img img {
    width: 18vw;
    height: 18vw;
  }

  .playlist-side {
    font-size: 5vw;
    width: 74vw;
  }

  .selected_playlist {
    font-size: 2.5vh;
    margin: auto;
    text-align: center;
    margin-top: 0vh;
    margin-left: 20vw;
  }

  .logo {
    margin-left: 10vw;
  }

  .timebar {
    margin-left: 10vw;
  }
}