/**
 * Copyright (C) 2020 Herobone & Aynril
 * 
 * This file is part of Spot The Verse.
 * 
 * Spot The Verse is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Spot The Verse is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Spot The Verse.  If not, see <http://www.gnu.org/licenses/>.
 */

.track-answer {
    background-color: #000000af;
    border: 10px solid #000000;
}

.track-answer:hover {
    background-color: #000000;
    cursor: pointer;
}

.game-wrapper {
    margin-top: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.lyrics {
    font-size: 1.6em;
}

.track-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.track-artist {
    font-size: 0.5em;
}

.track-img img {
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    margin: auto;
    padding: 10%;
}

.track-side {
    font-size: 2.5vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60vw;
}

.loading {
    font-size: 1.4em;
}

@media (max-width:992px) {
    .track-img {
        width: 20vw;
    }

    .track-img img {
        width: 18vw;
        height: 18vw;
    }

    .track-side {
        font-size: 6vw;
        width: 74vw;
    }

    .lyrics {
        font-size: 2.5em;
    }
}