/**
 * Copyright (C) 2020 Herobone & Aynril
 * 
 * This file is part of Spot The Verse.
 * 
 * Spot The Verse is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Spot The Verse is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Spot The Verse.  If not, see <http://www.gnu.org/licenses/>.
 */

.Player {
    min-height: 10vh;
    max-height: 14vh;
    max-width: 40vw;
    max-width: 40vw;
}

.now-playing__name {
    font-size: calc(1vw + 1vh);
}

.now-playing__artist {
    margin-bottom: 1vh;
    font-size: calc((1vw + 1vh) / 2);
}

.now-playing__img {
    float: right;
    text-align: right;
}

.now-playing__img img {
    height: 8vh;
}

.now-playing__side {
    margin-right: 7vw;
}

/** Progress **/

.progress {
    border: calc(1vh / 6) solid #eee;
    height: 1vh;
    border-radius: 3px;
    overflow: hidden;
    width: 36vw;
}

.progress__bar {
    background-color: #eee;
    height: 1vh;
}