/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "TrueCrimes";
  src: url("./fonts/true-crimes.eot"); /* IE9 Compat Modes */
  src: url("./fonts/true-crimes.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/true-crimes.otf") format("opentype"), /* Open Type Font */
    url("./fonts/true-crimes.svg") format("svg"), /* Legacy iOS */
    url("./fonts/true-crimes.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/true-crimes.woff") format("woff"), /* Modern Browsers */
    url("./fonts/true-crimes.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}